In [1]:
# Suppose you have a dataset containing daily temperature readings for a city, and you want to identify days with extreme temperature conditions. Find days where the temperature either exceeded 35 degrees Celsius (hot day) or dropped below 5 degrees Celsius (cold day). Input: temperatures = np.array([32.5, 34.2, 36.8, 29.3, 31.0, 38.7, 23.1, 18.5, 22.8, 37.2])

import numpy as np


temperatures = np.array([32.5, 34.2, 36.8, 29.3, 31.0, 38.7, 23.1, 18.5, 22.8, 37.2])

extreme_days = np.where((temperatures > 35) | (temperatures < 5))

print("Indices of extreme days:", extreme_days[0])
print("Extreme temperatures:", temperatures[extreme_days])

Indices of extreme days: [2 5 9]
Extreme temperatures: [36.8 38.7 37.2]

In [2]:
# 2. Suppose you have a dataset containing monthly sales data for a company, and you want to split this data into quarterly reports for analysis and reporting purposes.

#Input: monthly_sales = np.array([120, 135, 148, 165, 180, 155, 168, 190, 205, 198, 210, 225])

import numpy as np

monthly_sales = np.array([120, 135, 148, 165, 180, 155, 168, 190, 205, 198, 210, 225])

quarterly_sales = np.split(monthly_sales, 4)

for i, quarter in enumerate(quarterly_sales, 1):
    print(f"Quarter {i}: {quarter}")

Quarter 1: [120 135 148]
Quarter 2: [165 180 155]
Quarter 3: [168 190 205]
Quarter 4: [198 210 225]